<h1>Forecast Weather API</h1>

<p>Forecast City: <%= @weather_data["city"]["name"] %></p>

<table border="1">
  <tr>
    <th>Month</th>
    <th>Day</th>
    <th>High</th>
    <th>Low</th>
    <th>Conditions</th>
    <th>Humidity</th>
  </tr>
  <% @weather_data["list"].each do |x| %>
    <tr>
      <td><%= Time.at(x["dt"]).month %></td>
      <td><%= Time.at(x["dt"]).day %></td>
      <td><%= x["temp"]["max"].to_i/10 %>C</td>
      <td><%= x["temp"]["min"].to_i/10 %>C</td>
      <td><%= x["weather"].first["description"] %></td>
      <td><%= x["humidity"] %>%</td>
    </tr>
  <% end %>
</table><br />

<a href="/">Home</a>






