<h1>Tracker API - Story Details for Ski Bucket List</h1>

<ul>
  <li>Story Name: <%= @tracker_data["name"] %></li>
  <li>Description: <%= @tracker_data["description"] %></li>
  <li>Type: <%= @tracker_data["story_type"] %></li>
  <li>State: <%= @tracker_data["current_state"] %></li>
  <li>Estimate: <%= @tracker_data["estimate"] %></li>
</ul>

<p><a href="/">Home</a></p>